DATABASE_URL=
AUTH_SECRET=
AUTH_TRUST_HOST=true
NEXT_PUBLIC_APP_URL=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

# Mailtrap sending API (https://mailtrap.io/api-smtp/sending-setup)
MAILTRAP_API_TOKEN=
MAILTRAP_FROM_EMAIL=
MAILTRAP_SENDER_NAME=
DATABASE_URL_UNPOOLED=
NEON_BRANCH=
